.about-me-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 6rem;
  width: 100%;
}

@media (max-width: 1024px) {
  .about-me-content {
    padding: 2rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .about-me-content {
    padding: 1.5rem 1rem;
  }
}
